body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#br , #din , #lr , #wr {
    background-color: aquamarine;
    box-shadow: 30px 30px 30px darkcyan;
    width: 100px;
    text-shadow: 10px;
}